.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0 5px 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.location {
  background-color: #EAEAEA;
}
.location__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 15px;
}
.location__link__icon {
  padding-right: 15px;
}

.explore {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.explanation__title {
  margin: 50px 0 0 20px;
}
.explanation__panels {
  margin: 0 0 25px 20px;
}
.explanation__panels__unitary {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: 10px 20px 25px 10px;
}
.explanation__panels__unitary__number {
  background-color: #9356DC;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  margin-left: -10px;
}
.explanation__panels__unitary__icon {
  color: #9356DC;
  margin: 23px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.restaurant__title {
  padding-top: 20px;
}
.restaurant__choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 60px;
}
.restaurant__choice__container {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 17px;
}
.restaurant__choice__container__panel__new {
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurant__choice__container__panel__new__text {
  display: flex;
  justify-content: center;
  margin: 6px 0px 0px 0px;
}
.restaurant__choice__container__panel__img {
  background-size: cover;
  background-position: center 70%;
  border-radius: 15px 15px 0 0;
  height: 150px;
  width: auto;
  margin: 0;
}
.restaurant__choice__container__panel__description {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}
.restaurant__choice__container__panel__description__places {
  margin: 5px 0 5px 0;
}
.restaurant__choice__container__panel__description .fa-xl {
  line-height: normal;
}
.restaurant__choice__container__panel__description .custom-checkbox {
  margin: 5px;
}
.restaurant__choice__container__panel__description .checked {
  display: none;
}
.restaurant__choice__container__panel__description .checkbox {
  display: none;
}
.restaurant__choice__container__panel__description .checkbox:checked ~ .checked {
  display: inline-block;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.restaurant__choice__container__panel__description .checkbox:checked ~ .unchecked {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo_header {
    box-shadow: none;
  }
  .explore__title {
    font-size: 40px;
  }
  .explore__description {
    margin: 18px;
  }
  .explanation__panels {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .explanation__panels__unitary {
    max-width: 30%;
    flex: 0 0 30%;
  }
  .restaurant__choice {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
  }
  .restaurant__choice__container {
    margin: 30px 0 20px 0;
    max-width: 45%;
    flex: 0 0 45%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__choice__container__panel__img {
    height: 220px;
  }
}